<!--STATS HEADER START-->
<h3>Candidates by ward</h3>
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/d/embed?mid=1DuiFNp6wHTx5aWF3AzQ-dXqZpT_fb0Le' width='600' height='450' frameborder='0' style='border:0'></iframe></div>
<section id="stats_header" style="margin-bottom: 0.5rem;" class="">
    <p style="margin-bottom: 0.35rem; font-size: 1.1rem;"></p>
    <!--TABS START-->
    <section class="pica-tabs">
        <!--TABS CONTROLS START-->
        <div class="pica-tab-controls">
            <div class="pica-tab-control" data-tab="1" data-tab-default="yes">Mayor candidates</div>
            <div class="pica-tab-control" data-tab="2">Ward candidates</div>
            <div class="pica-tab-control" data-tab="3">Trustees</div>
        </div>
        <!--TABS CONTROLS END-->
        <!--TABS PANELS START-->
        <div class="pica-tab-panels pica-sans-serif">
            <div class="pica-tab-panel" data-tab="1">
                <p>Edward Graydon</p>
                <p>Fred Eisenberger</p>
                <p>Phil Ryerson</p>
                <p>Nathalie Xian Yi Yan</p>
                <p>Todd May</p>
                <p>Carlos Gomes</p>
                <p>Ricky Tavares</p>
                <p>Vito Sgro</p>
                <p>Ute Schmid-Jones</p>
            </div>
            <div class="pica-tab-panel" data-tab="2">  
                <p style="font-size: 1.1rem; margin: 0.25rem 0 0.25rem 0;"></p>
            </div>
            <div class="pica-tab-panel" data-tab="3">
               
            </div>
        </div>
        <!--TABS PANELS END-->
    </section>
    <!--TABS END-->

</section>
<!--STATS HEADER END-->